/* div qui contient les différents éléments de la page de connexion*/
#containerConnexion {
    width: 400px;
    padding: 15;
    margin: auto;
    box-shadow: 0 0 3px 3px #54c2ff;
    color: white;
    height: 450px;
}

#containerConnexion h1 {
    font-weight: bold;
    font-style: italic;
    text-align: center;
}

#containerConnexion input {
    background-color: gray;
    border: 1px solid #238bc4;
    width: 100%;
    padding: 12px 20px;
    margin-top: 2px;
    color: white

}

#containerConnexion label {
    margin-top: 25px;
}

#containerConnexion input[type=submit] {
    background-color: #238bc4;
    color: white;
    padding: 14px 20px;
    margin-top: 25px;
    cursor: pointer;
    width: 100%;
}

